extends layouts/basic.pug

block css
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block body
    main
            form.form-group(action="/admin/add-product" method="POST")
                div.form-control
                    label(for="title") Title
                    input(type="text" name="title")#title 
                button.btn(type="submit") Add Product


//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{pagetitle}
//-         link(rel="stylesheet", href="/css/main.css")
//-         link(rel="stylesheet", href="/css/forms.css")
//-         link(rel="stylesheet", href="/css/product.css")
//-     body
//-         header.header
//-             nav.nav
//-                 ul.ul
//-                     li.li
//-                         a(href="/") Shop
//-                     li.li
//-                         a(href="/admin/add-product") Add Product